#demo-simple-select-label {
  margin-top: 10px;
}

.romm-user-info {
  text-align: center;
  margin: auto;
  margin-right: 20px;
}

.hidden {
  display: none;
}

.placeholder {
  color: #1976d2;
  font-family: "Helvetica Neue", sans-serif;
  padding: 50px 0 50px;
  font-size: 70px;
  font-weight: lighter;
  text-align: center;
}
