.title {
    text-align: center;
}

.room-container {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.room-occupancy-text {
    font-size: 10px;
    text-align: center;
} 